.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #6d0303;
}

input,
textarea,
button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

input[type="file"] {
  padding: 5px;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: #dd0e0e;
}

textarea {
  resize: vertical;
  height: 100px;
}

.error-message {
  color: red;
  font-size: 1rem;
  margin-bottom: 20px;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
  border-color: #a108af;
}
